.player_container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}

.summary {
  font-size: 1.6rem;
  margin: 0 0 2rem;
  padding: 2rem;
  background-color: var(--gray-lighter);
  border-radius: var(--border-radius);
}

.contact {
  border-top: 3px solid var(--gray-light);
  font-size: 1.6rem;
  margin: 0 0 2rem;
  padding-top: 2rem;
}

.description {
  font-size: 1.6rem;
  margin: 0 0 2rem;
}

.description ul {
  margin: 2rem 0 0 2rem;
}

.description li {
  margin-bottom: 0.4rem;
}

.audio {
  margin: 1rem 0;
}

.episode_meta {
  font-size: 1.2rem;
  color: var(--black-secondary);
  display: flex;
  gap: 0 10px;
}
.episode_meta span {
  font-size: 1.3rem;
}
.meta_icon {
  vertical-align: middle;
}
.meta_icon svg {
  padding-top: 0.65rem;
}

.meta_text {
  padding-top: 0.2rem;
}

.listens_on {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 330px;
  margin: 0 auto 3rem;
}
