.player_container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}
.description {
  font-size: 1.6rem;
  margin: 0 0 2rem;
}

.description ul {
  margin: 2rem 0 0 2rem;
}

.description li {
  margin-bottom: 0.4rem;
}

.audio {
  margin: 1rem 0;
}

.episode_meta {
  font-size: 1.2rem;
  color: var(--black-secondary);
  display: flex;
  gap: 0 10px;
}

.episode_meta svg {
  padding-top: 2px;
}

.listens_on {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 330px;
  margin: 0 auto 20px;
}
