.cover-image {
  margin-bottom: 1rem;
}
.cover-image img {
  border-radius: var(--border-radius);
}
.description {
  font-size: 1.6rem;
  margin: 0 0 2rem;
}

.description ul {
  margin: 2rem 0 0 2rem;
}

.description li {
  margin-bottom: 0.4rem;
}

.audio {
  margin: 1rem 0;
}

.publishedon {
  font-size: 1.4rem;
  color: var(--black-secondary);
  margin-bottom: 2rem;
}

