@import "tailwindcss";
@import "@fontsource/m-plus-rounded-1c/400.css";
@import "@fontsource/m-plus-rounded-1c/800.css";

:root {
  --font-*: initial;
  --font-sans: "M PLUS Rounded 1c", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --black-primary: #373737;
  --black-secondary: #676767;
  --gray: #676767;
  --gray-light: #D9D9D9;
  --gray-lighter: #F6F6F6;
  --yellow: #FDDF19;
  --yellow-light: #FFFEFA;
  --blue: #0E81B4;
  --border-radius: 1rem;
}

html,
body {
  @apply bg-white text-gray-900 max-w-[100vw] text-[12px] overflow-x-hidden;
}

p a,
li a {
  @apply no-underline border-b-1 border-dotted;
}

h2.title {
  @apply mb-4 pb-0.5 border-b-4 text-[1.6rem] font-bold border-[var(--yellow)] inline-block;
}

h3.episode-title {
  @apply mb-1 text-[1.35rem] font-semibold;
}

a.episode-link {
  @apply border-none;
}

.episode-meta p {
  @apply text-[1.2rem];
}

footer a {
  @apply border-b-0;
}
