@import "tailwindcss";
@import "@fontsource/m-plus-rounded-1c/400.css";
@import "@fontsource/m-plus-rounded-1c/800.css";
@import "tw-animate-css";

:root {
  --font-*: initial;
  --font-sans:
    "Zen Maru Gothic", "M PLUS Rounded 1c", "Inter", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-numeric-value: "M PLUS Rounded 1c", sans-serif;
  --black-primary: #373737;
  --black-secondary: #676767;
  --yellow: #fddf19;
  --yellow-light: #fdfbf8;
  --orange: #ff8368;
  --green: #48a57b;
  --yellow-green: #efff95;
  --episode-hover-bg: #f4faec;
  --text-link: #2e2c2a;
  --card-radius: 18px;
  --card-shadow: 4px 4px 0px 0px black;
  --button-radius: 24px;
  --foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

html,
body {
  @apply bg-yellow-light text-gray-900 max-w-[100vw] text-base font-medium overflow-x-hidden;
}

@theme inline {
  --font-numeric: var(--font-numeric-value);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-yellow-light: var(--yellow-light);
  --color-yellow-green: var(--yellow-green);
  --color-episode-hover-bg: var(--episode-hover-bg);
  --color-text-link: var(--text-link);
  --color-black-primary: var(--black-primary);
  --color-black-secondary: var(--black-secondary);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-yellow-light text-foreground;
  }
}
