.main {
  width: 60rem;
  padding: 2rem 0;
  margin: 0 auto;
}

.section {
  margin-bottom: 4rem;
}

.title {
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  font-size: 1.9rem;
  font-weight: bold;
  border-bottom: 3px solid var(--yellow);
}

.link-prev,
.link-more {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.link-prev a,
.link-more a {
  display: inline-block;
  border-bottom: 1px dotted var(--black-secondary);
}


@media screen and (max-width: 768px) {
  .main {
    width: 32rem;
  }
}
